#the-booleaner{
    background-color: dodgerblue;
    background-image: url(../img/pattern.png);background-size:33%;
}

header > img{
    width: 200px;
    height: 120px;
}

h1{
    font-size: 3rem;
    margin-bottom: 0%;
}


#autore{
    color: grey;
}

.descrizione-foto{
    font-size: 14px;
}

.sottolineato{
    background-color: yellow;
}

