#the-booleaner{
    background-color: dodgerblue;
    background-image: url(../img/pattern.png);background-size:33%;
}

header > img{
    width: 200px;
    height: 120px;
}

h1{
    font-size: 3rem;
    margin-bottom: 0%;
}


#autore{
    color: grey;
}

.descrizione-foto{
    font-size: 14px;
}

.sottolineato{
    background-color: yellow;
}

.intestazione-table{
    color: white;
    background-color: rgb(32, 169, 229) ;
}

.blue-table{
    background-color:#B1E5F2;
}

.size_col{
    width: 50%;
}

.consigliati-testo{
    color: grey;
}

.consigliati2{
    height: 303px;
    width: 394px;
    margin-bottom: 30px;
    margin-top: 30px;
    color: white;
    font-size: 40px;
}

.monitor{
    background-image: url(../img/monitor.jpg);
    background-size: cover;
    background-position: center;
}

.graph{
    background-image: url(../img/graph.jpg);
    background-size: cover;
    background-position: center;
}

